h1 {
  font-size: 15px;
  padding-left: 7px;
  font-weight: 500;
  color: #ffffff;
  letter-spacing: -0.075em;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: #f55a5a;
  width: 550px;
  height: 55px;
}
